RewriteEngine On

# No necesitar la extensión .php y .html cuando se ingrese en la URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Excluir archivos y directorios específicos
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|gif)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir a index.php con la variable "url" como el segmento de la URL
RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA]
